doctype html
html
  head
    title= title
    link(rel='stylesheet',type="text/css", href='/stylesheets/style.css')
    //- link(rel='stylesheet',type="text/css", href='/stylesheets/time.css')
    //- link(rel='stylesheet',type="text/css", href='/stylesheets/notFound.css')
  body
    block content
